/* sticky footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
   border-top-style: solid;
    border-top-width: 15px;
    border-top-color: lightgreen;
    color: rgb(223, 205, 212);
  }
/* background image */
  .body {
 background-image: url("greyimage.jpg") ;
  /* background-color: lightgray; */
 background-size: cover;
  /* padding-bottom: 100%; */
  /* border-top-style: solid; */
  /* border-top-width: 20px; */
  /* border-top-color: lightgrey; */
}
 /*card  */
.box {
    background-color: white;
    margin-top: 15px;
    padding-bottom: 5%;
}
/* about me */
h1 {
font-weight: bold;
color: aqua;
border-bottom: 1px solid black;
}

.navbar-brand{

background-color: rgb(224, 28, 93);

}
/* my interests */
h2{
  color: forestgreen;

}

